<!-- Mobile Navigation Bar -->
<header class="">
  <div class="header-top">
    <a href="dashboard.html" class="py-3">
      <img
        src="../static/assets/images/logo.png"
        alt="EcoTrack Logo"
        class="h-8"
      />
    </a>
  </div>

  <div class="header-bottom">
    <a href="dashboard.html" class="mobile-nav-item">
      <img
        src="../static/assets/icons/dashboard.svg"
        alt="Dashboard"
        class="h-6 w-6"
      />
    </a>
    <a href="add_data.html" class="mobile-nav-item">
      <img
        src="../static/assets/icons/add-data.svg"
        alt="Add Data"
        class="h-6 w-6"
      />
    </a>
    <a href="view_data.html" class="mobile-nav-item shad-active">
      <img
        src="../static/assets/icons/view-data.svg"
        alt="View Data"
        class="mobile-icon-active h-6 w-6"
      />
    </a>
    <a href="share.html" class="mobile-nav-item">
      <img src="../static/assets/icons/share.svg" alt="Share" class="h-6 w-6" />
    </a>
    <a href="facts.html" class="mobile-nav-item">
      <img src="../static/assets/icons/info.svg" alt="Facts" class="h-6 w-6" />
    </a>
    <a href="profile.html" class="">
      <image
        src="../static/assets/images/avatar.png"
        alt="avatar"
        class="sidebar-user-avatar"
      />
    </a>
  </div>
</header>
