{% extends 'base_auth.html' %}

{% block title %}Log in | EcoTrack{% endblock %}

{% block head %}
<script src="../../static/js/login.js" defer></script>
{% endblock %}

{% block content %}
<div class="grid grid-cols-3 h-full">
  <!-- Left Section -->
  <div class="col-span-3 md:col-span-2 flex flex-col justify-center items-center p-8">
    {% include 'components/auth/logo.html' %}
    {% include 'components/auth/forms.html' with context %}
  </div>

  <!-- Right Section -->
  {% include 'components/auth/appinfo.html' %}
</div>
{% endblock %}