<!-- Right Section -->
<div class="right-section">
    <h2 class="subtitle highlight-text">Track Your Footprint</h2>
    <p class="text-gray-600 leading-relaxed">
      We've created the perfect place for you to log your daily activities
      and see how your choices affect the environment. Stay informed, reduce
      your carbon footprint, and make a difference—one step at a time!
    </p>
    <img
      src="../../static/assets/images/ecofriendly.png"
      alt="Eco-friendly illustration"
      class="mt-4"
    />
  </div>