<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EcoTrack Dashboard</title>
    <link href="../static/css/output.css" rel="stylesheet" />
  </head>
  <body class="bg-white text-gray-800 font-sans">
    <div class="flex flex-col min-h-screen">
      <!-- Top Bar -->
      <header class="bg-white p-4 flex justify-between items-center">
        <h1 class="text-2xl font-bold flex items-center space-x-2 my-2">
          <span>
            <img
              src="../static/assets/images/logo.png"
              alt="EcoTrack Logo"
              class="h-8 ml-9 mr-3 mt-2"
            />
          </span>
          EcoTrack
        </h1>
        <a class="" href="./auth/login.html">
          <img
            src="../static/assets/icons/logout.svg"
            alt="Logout Icon"
            class="h-5 w-5 mr-4"
          />
        </a>
      </header>

      <div class="flex flex-1">
        <!-- Sidebar -->
        <aside class="w-64 mx-4 bg-white flex flex-col justify-between">
          <div>
            <nav class="space-y-2 px-4 font-semibold">
              <a href="dashboard.html" class="sidebar-link">
                <img
                  src="../static/assets/icons/dashboard.svg"
                  alt="Dashboard"
                  class="h-5 w-5"
                />
                <span>Dashboard</span>
              </a>
              <a href="add_data.html" class="sidebar-link current-page">
                <img
                  src="../static/assets/icons/add-data.svg"
                  alt="AddData"
                  class="h-5 w-5"
                />
                <span>Add data</span>
              </a>
              <a href="view_data.html" class="sidebar-link">
                <img
                  src="../static/assets/icons/view-data.svg"
                  alt="ViewData"
                  class="h-5 w-5"
                />
                <span>View data</span>
              </a>
              <a href="share.html" class="sidebar-link">
                <img
                  src="../static/assets/icons/share.svg"
                  alt="Share"
                  class="h-5 w-5"
                />
                <span>Share</span>
              </a>
              <a href="facts.html" class="sidebar-link">
                <img
                  src="../static/assets/icons/info.svg"
                  alt="Facts"
                  class="h-5 w-5"
                />
                <span>Facts</span>
              </a>
            </nav>
          </div>

          <div class="p-10 flex flex-col items-center text-sm">
            <img
              src="../static/assets/images/ecofriendly.png"
              alt="Earth"
              class="w-75 mb-2"
            />
            <a href="profile.html" class="text-center hover:underline">
              <div>
                <p class="font-semibold">Matthew Daggit</p>
                <p class="text-gray-500">test@test.com</p>
              </div>
            </a>
          </div>
        </aside>

        <!-- Main content -->
        <div class="flex-1">
          <!-- New grey container -->
          <div class="main-container">stuff goes here</div>
        </div>
      </div>
    </div>
  </body>
</html>
