{% extends "base.html" %} 

{% block title %}Dashboard{% endblock %} 


{% block content %}
<div>
  <!-- Emission Goal -->
  <section class="emission-goal">
    <div class="emission-content">
      <div class="progress-circle">
        <svg
          class="absolute w-full h-full transform -rotate-90"
          viewBox="0 0 100 100"
        >
          <circle
            cx="50"
            cy="50"
            r="45"
            stroke="white"
            stroke-width="10"
            fill="none"
            opacity="0.2"
          />
          <circle
            cx="50"
            cy="50"
            r="45"
            stroke="white"
            stroke-width="10"
            fill="none"
            stroke-dasharray="282.74"
            stroke-dashoffset="120.27"
            stroke-linecap="round"
          />
        </svg>
        <div class="progress-text">65%</div>
      </div>
      <div class="emission-details">
        <h2 class="text-2xl font-semibold mb-2">Your Footprint</h2>
        <p class="text-lg">‘x’ CO2eq emitted</p>
        <p class="text-lg">‘y’ CO2eq saved</p>
      </div>
    </div>
  </section>

  <!-- Category Cards -->
  <section class="category-cards">
    <!-- Travel -->
    <div class="category-card">
      <h3 class="category-heading">Travel</h3>
      <div class="progress-bar">
        <div class="progress-bar-fill w-[95%]"></div>
      </div>
      <p class="category-description">95/100</p>
      <p class="category-description">
        You have emitted ‘w’ CO2eq out of a possible ‘z’ CO2eq
      </p>
    </div>

    <!-- Home -->
    <div class="category-card">
      <h3 class="category-heading">Home</h3>
      <div class="progress-bar">
        <div class="progress-bar-fill w-[95%]"></div>
      </div>
      <p class="category-description">95/100</p>
      <p class="category-description">
        You have emitted ‘w’ CO2eq out of a possible ‘z’ CO2eq
      </p>
    </div>

    <!-- Food -->
    <div class="category-card">
      <h3 class="category-heading">Food</h3>
      <div class="progress-bar">
        <div class="progress-bar-fill w-[95%]"></div>
      </div>
      <p class="category-description">95/100</p>
      <p class="category-description">
        You have emitted ‘w’ CO2eq out of a possible ‘z’ CO2eq
      </p>
    </div>

    <!-- Shopping -->
    <div class="category-card">
      <h3 class="category-heading">Shopping</h3>
      <div class="progress-bar">
        <div class="progress-bar-fill w-[95%]"></div>
      </div>
      <p class="category-description">95/100</p>
      <p class="category-description">
        You have emitted ‘w’ CO2eq out of a possible ‘z’ CO2eq
      </p>
    </div>
  </section>
</div>
{% endblock %}
